@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif
}

#title{
    text-align: center;
    margin-top: 5%;
}

#general-joke-button{
    display: flex;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 20px;
    border: none;
    background-color: #e6002b;
    color: #fff;
    cursor: pointer;
}

#general-joke-button:hover{
    background-color: #424242;
}

#form-title{
    text-align: center;
    margin-top: 3%;
}

#new-joke-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    margin-top: 2%;
}

#new-joke-form label{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;

}

#new-joke-form input{
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    width: 30%;
}

#rated-joke{
    margin: 0 auto;
    border: none;
    margin-top: 20px;
    padding: 15px;
    background-color: #ffa500;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    width: 40%;
}

#rated-joke:hover{
    background-color: #424242;
}

p{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

#clear-jokes{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: none;
    padding: 12px;
    background-color: #424242;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5%;
}

#clear-jokes:hover{
    background-color: #929292;
    color: black;
}